.gradle
.idea
.vscode
Corel Auto-Preserve
/build
/config/propel.xml
/public/bootstrap
/public/config.yaml
/public/pdf
/public/propel/diff
/public/propel/model/Base
/public/propel/model/Map
/public/propel/sql
/public/propel/config.php
/public/vendor
gradle.properties
/public/twigcache
/resources/diagrams/*.png
/.db_dumps
/tests/http-client.private.env.json
