Hallo %name%,
vielen Dank für Deine Anmeldung.

Mit dieser Registrierung bekommst Du Deinen persönlichen Login zu unserem online Anmeldesystem für Verkäufer auf dem Flohmarkt der Bremer Spiele-Tage.

Wichtig: Alle Spiele, die auf dem Flohmarkt der Bremer Spiele-Tage verkauft werden sollen, müssen in der Datenbank eingegeben sein, sonst können sie von der Kasse nicht erfasst werden. Das gilt auch für Kleinmengen.

Solltest du mehr als 5 Spiele abgeben wollen, nehmen wir außerdem Deine Spiele vor Ort nur an, wenn du uns vorher die Anzahl mitgeteilt hast UND wir Dir die Anzahl bestätigt haben.
Das bedeutet: Bevor Du Deine Spiele in der Datenbank eingibst, solltest Du eine E-Mail an spiele@vhs-bremen.de senden, in der Du uns mitteilst, wie viele Spiele Du für den Flohmarkt der Bremer Spiele-Tage abgeben möchtest.

Wenn du bis zu 10 Spiele abgeben möchtest, kannst Du das auch am Samstag oder Sonntag machen. Es besteht allerdings das Risiko, dass wir Deine Spiele aus Zeit- oder Platzgründen nicht annehmen können. Günstige Zeiten sind bis 10:15 Uhr oder ab 12 Uhr am Flohmarkt-Ausgang.

Viel Spaß beim Eingeben der Spiele!

Verkäufer-Nummer: %id%

**********************
Login Name: %mail%
Passwort: %password%
**********************

Solltest du Fragen haben, kannst Du uns direkt unter 0421-361 3636 erreichen oder per E-Mail an spiele@vhs-bremen.de.

Viele Grüße,
Dein Bremer Spiele-Tage Team
